:root {
    --base: #003E3D;
    --separator-height: 10vh;
    --profile-offset: calc(2 * var(--separator-height));
}

body {
    background-color: var(--base);
    color: #fef9fa;
    margin: 0;

    font-family: OpenSans, sans-serif;
}

div {
    text-align: center;
    padding-top: 10vh;
    position: relative;
}

a {
    color: inherit;
}

p {
    margin-top: 0;
}

#top {
    height: 30vh;
    width: 100%;

    object-fit: cover;
}

.separator {
    mask-image: url("/images/separator.svg");
    mask-position: left bottom;
    mask-repeat: repeat-x;
    mask-size: contain;

    height: var(--separator-height);
    width: 100%;
}

.profile {
    background-color: #00403E;
    bottom: var(--profile-offset);
}

.footer {
    background-color: var(--base);
    bottom: calc(2 * var(--profile-offset));
}

.profile.content {
    padding-bottom: var(--profile-offset);
}

.profile.content > * {
    display: inline-block;
    vertical-align: middle;
}

.profile.content > h1 {
    font-style: normal;
    font-weight: normal;
    margin: auto 1rem;
}

#profile-img-container {
    max-width: 320px;
}

#profile-img-container > img {
    max-width: 100%;
    width: auto;
    mask-image: url("/images/profile-mask.svg");
}

.contact-link {
    font-size: 2rem;
    padding: 1rem;
    text-decoration: none;
}
